{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>ANVARBEK</title>
    <meta name="description"
          content="240+ Best Bootstrap Templates are available on this website. Find your template for your project compatible with the most popular HTML library in the world."/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="canonical" href="https://htmldemo.hasthemes.com/furns/"/>

    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Furns - Responsive eCommerce HTML Template"/>
    <meta property="og:url" content="PAGE_URL"/>
    <meta property="og:site_name" content="Furns - Responsive eCommerce HTML Template"/>
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#"/>
    <meta property="og:description" content="Furns - Responsive eCommerce HTML Template"/>
    <meta name="robots" content="noindex, follow"/>
    <!-- Add site Favicon -->
    <link rel="icon" href="{% static 'assets/images/logo/logo.png' %}" sizes="32x32"/>
    <link rel="icon" href="{% static 'assets/images/logo/logo.png' %}" sizes="192x192"/>
    <link rel="apple-touch-icon" href="{% static 'assets/images/logo/logo.png' %}"/>
    <meta name="msapplication-TileImage" content="{% static 'assets/images/logo/logo.png' %}"/>
    <!-- Structured Data  -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Replace_with_your_site_title",
            "url": "Replace_with_your_site_URL"
        }
    </script>

    <link rel="stylesheet" href="{% static 'assets/css/vendor/vendor.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/plugins/plugins.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

</head>

<body>
{% include 'components/_nav.html' %}


{% block content %}  {% endblock %}


{% include 'components/_footer.html' %}

<script src="{% static 'assets/js/vendor/vendor.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/plugins.min.js' %}"></script>
<script src="https://kit.fontawesome.com/16edf5c899.js" crossorigin="anonymous"></script>

<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>